body {
  margin: 0;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
}

.page {
  width: 1092px;
  margin: auto;
  padding-top: 71px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 101px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 64px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 28px;
}

ul li a:hover {
  font-weight: bold;
  color: #00BFA6;
}

main {
  width: 1092px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
  margin-bottom: 59px;
}

span {
  color: #00BFA6;
}

p {
  color: #C2C2C2;
  font-family: 'Open Sans', sans-serif;
  width: 604px;
  text-align: center;
  line-height: 28px;
}

footer {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  margin-top: 130px;
}

footer #line {
  width: 568px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: auto;
  margin-bottom: 27px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #00BFA6;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}